.info {
    margin-top: 10px;
    width: auto;
    height: 380px;
    border: 1px solid black;
    border-radius: 16px;
    text-align: center;
}

.picture {
    width: auto;
    height: auto;
    margin-top: 5px;
}