.wrapper {
  display: grid;
  grid-template-areas: 
    "head-1 head-1"
    "info-1 datetimeDisplay"
    "info-1 employeeTime"
    "searchbar searchbar";
  grid-template-rows: 80px 1fr;  
  grid-template-columns: 50% 25em;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  height: 80vh;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

/* Stack the layout on small devices/viewports. */
@media only screen and (max-width: 760px) {
  .wrapper { 
    grid-template-areas: 
    "head-1"
    "datetimeDisplay"
    "info-1"
    "employeeTime"
    "searchbar";
    grid-template-rows: 1fr;  
    grid-template-columns: 21em;
    /* margin: 0 auto; */
    justify-content: center;
    align-items: center;
 }
}

#header {
  grid-area: head-1;
  }

  #info {
    grid-area: info-1;
  }

  #datetimeDisplay {
    grid-area: datetimeDisplay;
  }

  #employeeTime {
    grid-area: employeeTime;
  }

  #searchbar {
    grid-area: searchbar;
  }

